.chat-title {
    margin: 0 auto 0 auto;
    font-family: "Press Start 2P";
    font-weight: bold;
    font-size: 3em;
}

.chat-title-hr {
    margin: 0 0 10px 0;
}

.chat-area {
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

#chat-log {
    border-color: white;
    border-top-color: black;
    border-width: 10px;
    padding-top: 20px;
    outline: none;
    width: 100%;
    height: 500px;
    font-family: Arial;
}

#chat-message-input {
    outline: none;
    width: 100%;
}

#chat-message-submit {
    margin: 10px 0;
}

#chat-message-submit h2 {
    font-size: 1em;
}