{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- App-specific CSS -->
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}">

    <title>Web App</title>
</head>

<body>
    <div class="row">
        <div class="col-12">
            <!-- Image and text -->
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#"">
                    <img src="https://static.djangoproject.com/img/logos/django-logo-negative.png" class="d-inline-block align-top" alt="">
                </a>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
        </div>

        <div class="col-8 text-center">
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br/>
            <input id="chat-message-input" type="text" size="100"/><br/>
            <input id="chat-message-submit" type="button" value="Send" class="btn btn-success"/>
        </div>

        <div class="col-2">
        </div>
    </div>

    <!-- App js -->
    <script src="{% static 'web/js/chat_websocket.js' %}"></script>

    <!-- Bootstrap, JQuery and other JS! -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>